body{
  font-family: Arial, Helvetica, sans-serif;
}
header{
  height: 50px;
  background-color: oldlace;
  font-size: 40px;
  font-style: oblique;
  font-weight: bold;
  /* text-align: center; */
  color:darkgreen;
  padding: 10px;
}
nav{
  background-color: oldlace;
  padding: 10px;
}
nav button {
   width: 150px;
   height: 50px;
   font-size: 16px; 
}
section {
  display: none;
  background-color: white;
}
#id1, h1 {
    background-color: aquamarine;
}
.myH1 {
    background-color: lightgreen;
}
output {
display: block;
    /* width: 300px; */
    border: 2px solid green;
    padding: 5px;
    padding-left: 12px;
    margin: 2px;
}
#error_id {
  display: block;
      /* width: 300px; */
      border: 2px solid red;
      padding: 5px;
      padding-left: 12px;
      margin: 2px;
  }

.myFormLayout {
    display: grid;
    grid-template-columns: [labels] auto [controls] 100px [txt] 120px [rest]1fr;
      grid-auto-flow: row;
      grid-gap: .8em;
}
/*
.myFormLayout>fieldset {
  grid-column: span 4;
}
*/
/*.some-form__fields {
  display: contents;
}
*/
.myFormLayout> legend,  
.myFormLayout> label  {
    grid-column: labels;
    grid-row: auto;
}
.myFormLayout>input[type=submit],
.myFormLayout>input[type=number]
{
    grid-column: controls;
    grid-row: auto;
}
.myFormLayout>input[type=radio]
{
    grid-column: controls;
    grid-row: auto;
    float: left;
}

.myFormLayout >input[type=text]{
    grid-column: controls / span 2;
    grid-row: auto;
}
/*
.myFormLayout output{
    grid-column: labels / span 4;
    grid-row: auto;
}
*/



.scoretable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 2px solid green;;
    color: black;
}
.scoretable.greyed {
  color: lightgray;
}
.scoretable td{
    border: 1px solid green;
    padding:6px;
    height:25px;
  }

.scoretable .row-fill {
    background-color:#a1dfa3;
    border: 2px solid green;;
    padding: 8px;
}  

.scoretable .right-text {
    text-align: right;
}
.scoretable .right-left {
    text-align: left;
}
/*
  .scoretable tr:nth-child(even){background-color: #f2f2f2;}
*/
.scoretable tr:hover {background-color: #ddd;}
  
.scoretable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: white;
    color: green;
    border: 2px solid green;
    padding:6px;
    margin: 10px;
    top: 10px;
  }
.table_id { 
    display: inline-block;
    background-color:burlywood;
    width:250px;
    height:70px;
  }
/* find column with dices; exemplifies advanced query selector */
.scoretable>thead>tr:nth-child(2)>th:nth-child(2){
 min-width: 140px;
 text-align: center;
}
.scoretable>tbody>tr>td:nth-child(2){
    text-align: right;
}
.scoretable>tbody>tr>td:nth-child(1){
    text-align: right;
}
