.iwpHead {
  background-color:aquamarine;
  font-family: Arial, Helvetica, sans-serif;
}



.myFormLayout {
  display: grid;
  grid-template-columns: [labels] auto [controls] 100px [txt] 120px [rest]1fr;
    grid-auto-flow: row;
    grid-gap: .8em;
}
/*
https://www.quackit.com/html/html_editors/scratchpad/?example=/css/grid/examples/forms_auto-placement_example_2

.myFormLayout>fieldset {
grid-column: span 4;
}
*/
/*.some-form__fields {
display: contents;
}
*/
.myFormLayout> legend,  
.myFormLayout> label  {
  grid-column: labels;
  grid-row: auto;
}
.myFormLayout>input[type=submit],
.myFormLayout>input[type=number]{
  grid-column: controls;
  grid-row: auto;
}
.myFormLayout >input[type=text]{
  grid-column: controls / span 2;
  grid-row: auto;
}
/*
.myFormLayout output{
  grid-column: labels / span 4;
  grid-row: auto;
}
*/


#scoretable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 2px solid green;;
    color: black;
}
#scoretable.greyed {
  color: lightgray;
}
#scoretable td{
    border: 1px solid green;
    padding:6px;
    height:25px;
  }

#scoretable .row-fill {
    background-color:#a1dfa3;
    border: 2px solid green;;
    padding: 8px;
}  

#scoretable .right-text {
    text-align: right;
}
#scoretable .right-left {
    text-align: left;
}
/*
  #scoretable tr:nth-child(even){background-color: #f2f2f2;}
*/
  #scoretable tr:hover {background-color: #ddd;}
  
  #scoretable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: white;
    color: green;
    border: 2px solid green;
    padding:6px;
  }
  #dices_table { 
    margin: 10px;
    top: 10px;
  }
  #table_id { 
    display: inline-block;
    background-color:burlywood;
    width:250px;
    height:70px;
  }
/* find column with dices; exemplifies advanced query selector */
#scoretable>thead>tr:nth-child(2)>th:nth-child(2){
 min-width: 140px;
  };
