body {
  display: grid;
  grid-template-areas:
      "h h"
      "n m"
      "f f";
  grid-template-rows: 70px 1fr 60px;
  grid-template-columns: 230px 1fr;
  grid-row-gap: 0px;
  grid-column-gap: 0px;
  height: 100vh;
  margin: 0;
  background-color: #232528;
  color: white;
  font-family: monospace;
  text-decoration: none;
}

header {
  grid-area: h;
  text-align: center;
  background-color: #009FFD;
  font-size: 5em;
}
footer {grid-area: f;}

#main {
  grid-area: m;
  margin: 10px;
  border: 10px;
  padding: 10px;
  }

#main.page.page.active{
  align-content: center;
}

.heading {
  text-align: center;
  font-size: -webkit-xxx-large;
}

.questpage {
  display: grid;
  grid-template-rows: repeat(2, 1fr); /* Two rows */
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  gap: 10px; /* Gap between grid items */
}

.quest {
  grid-row: 2 / 3; /* Quests are in the second row */
  height: 300px;
  width: calc(30%-20px); /* Adjust width and gap as needed */
  background-color: #FFA400; /* Just for visualization */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 10px;
}

#top-nav {
  display: grid;
  grid-area: h;
}

#top-navigation-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-right: 30px;
  margin-left: 0px;
  margin-top: 5px;
}

.top-right-img {
  max-width: 60px;
  max-height: 60px;
}

.top-left-img {
  max-width: 60px;
  max-height: 60px;
}

#side-nav {
  grid-area: n;
  background-color: #2A2A72;
  align-content: center;
  padding: 0 20px; /* Adjust the padding as needed */
}
.nav-img {
  max-height: 35px;
  max-width: 30px;
  margin-right: 10px;
}

#side-nav ul {
  list-style: none;
  padding: 0; /* Remove default padding from the <ul> element */
  margin: 0; /* Remove default margin from the <ul> element */
}

#side-nav a {
  color: white;
  font-family: monospace;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 3em;
}
#side-nav a.active {
  color: #009FFD;
}
/*
#sidenav {
  grid-area: n;
  background-color: red;
  /* Flexbox styles for vertical centering */ /*
  display: flex;
  align-items: center;
  font-size: 3em;
}
a   {
  color: white;
  font-family: monospace;
  text-decoration: none;
}
*/


/* Styles for the modal */
.modal {
  display: none; /* Hide the modal by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* Overlay background */
}

.modal-content {
  background-color: #1f6bb2;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: calc(30% - 10px);;
}


meter {
  display: none;
  width: 100%; /* Set desired width */
  height: 12%; /* Set desired height */
  font-size: 18px; /* Set desired font size */
  /* Add any other styling properties as needed */
}

/* Style for the buttons */
.difficulty-button {
  margin: 5%;
}

/* Styles for the drop-down button */
.dropbtn {
  background-color: rgb(69, 70, 70);/* Background color */
  color: white; /* Text color */
  padding: 2px; /* Padding around text */
  font-size: 16px; /* Font size */
  border: none; /* No border */
  cursor: pointer; /* Cursor style */
  margin-right: 20px;
}

/* Styles for when the drop-down button is hovered or focused */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9; /* Background color change on hover/focus */
}

/* Styles for the dropdown container */
.dropdown {
  position: relative; /* Positioning */
  display: inline-block; /* Display as inline block */
  float: right;
}

/* Styles for the dropdown content */
.dropdown-content {
  display: none; /* Hide dropdown content by default */
  position: absolute; /* Positioning */
  background-color: #f1f1f1; /* Background color */
  min-width: 90px; /* Minimum width of dropdown content */
  overflow: auto; /* Allow content to overflow */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Box shadow for dropdown */
  z-index: 1; /* Z-index for stacking order */
}

/* Styles for the links within the dropdown content */
.dropdown-content a {
  color: black; /* Text color */
  padding: 12px 16px; /* Padding around text */
  text-decoration: none; /* No underline */
  display: block; /* Display as block element */
}

/* Styles for when a link within the dropdown content is hovered */
.dropdown a:hover {
  background-color: #ddd; /* Background color change on hover */
}

/* Style for showing the dropdown content */
.show {
  display: block; /* Display block */
}




/* Ensures only the selected page is shown */
.page {display: none;}
.page.active {display: block;}

.button {
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.center {
  width: auto;
  margin: 15px 15px; 
}

.profile_layout .tiers {
  display: flex; /* Use Flexbox for tiers */
  justify-content: space-between; /* Distribute items evenly */
}

.tier {
  flex: 1; /* Take up equal space */
  margin: 0 5px; /* Adjust margin between elements */
}

.tier-grid-item {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mastery-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.mastery-grid-item {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  margin-top: 10px;
}

.elo-progress {
  height: 100%;
  background-color: #4caf50; /* Green color for progress */
}

/* Position the buttons */
#userMasteries + button {
  display: inline-block; /* Initially visible */
  margin-top: 10px;
}

.profileHeader-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Add some margin to separate from the content below */
}
.profileHeader-container h2 {
  margin: 0 auto; /* Center the header horizontally */
}

#logout {
  text-align: right;
  margin-right: 20px;
}

#logoutBtn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* Style the button on hover */
#logoutBtn:hover {
  background-color: #45a049;
}

