# Possibly managed by Ansible - BEWARE OF EDITING
#
# Created 2019-05-03 by Jorgen Bjornstrup (jorgen@its.aau.dk)
#
# $Id: conf-cgi-bin.conf.j2,v 1.1 2020/03/25 13:59:19 jorgen Exp $

# Apache configurations for using CGI-scripts on the
# https://cs-24-sw-2-06.p2datsw.cs.aau.dk/ website.

# If this file is an example configuration file called
# /srv/www/cs-24-sw-2-06.p2datsw.cs.aau.dk/conf-https/cgi-bin.conf.example
# then it will be managed and updated by Ansible, so any modifications
# might get overwritten at any time to ensure that the example
# configuration file contains the most recent default configurations,
# customized for this specific website.
#
# If this file is an actual configuration file called
# /srv/www/cs-24-sw-2-06.p2datsw.cs.aau.dk/conf-https/cgi-bin.conf
# or almost any other name, e.g., if the cgi-bin.conf.example
# file is copied or renamed to cgi-bin.conf, then it will no
# longer be managed and updated by Ansible, so it can therefore freely
# be edited and modified, e.g., to comment in, comment out, or add
# configuration lines.
#
# See the 00README.txt file for further information.

ScriptAlias /cgi-bin/ /srv/www/cs-24-sw-2-06.p2datsw.cs.aau.dk/cgi-bin/
ScriptLog /srv/www/cs-24-sw-2-06.p2datsw.cs.aau.dk/log-https/cgi.log
<Directory /srv/www/cs-24-sw-2-06.p2datsw.cs.aau.dk/cgi-bin>
    AllowOverride None
    Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
    #SSLOptions +StdEnvVars
</Directory>
